#background {
    background-image: url("assets/burdenbackground.JPG");
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("assets/burdenbackground.JPG");
    filter: saturate(150%) brightness(80%);
}